*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    position: absolute;
    background-color: #0a0a3f;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bckgrnd{
    background-color: hsl(194, 23%, 62%);
    width: 350px;
    height: 250px;
    display: flex;
    margin: 35px 30px 35px 30px;
    padding: 20px 25px 10px 20px;
    border-radius: 5%;
}

.titulo{
    font-family: arial;
    font-size: 19pt;
    margin-bottom: 20px;
    font-weight: 650;
}

.description{
    font-family: arial;
    font-size: 10pt;
    margin-bottom: 35px;
    color: rgb(29, 26, 26);
    font-weight: 300;
}

img{
    width: 120px;
    height: 180;
    padding-left: 15px;
    padding-top: 30px;
}

button{
    background-color: #0a0a3f;
    font-family: arial;
    font-size: 12pt;
    font-weight: 500;
    color: lightgray;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8%;
    margin-bottom: 10px;
}

.izq{
    width: 200px;
}
 .bckgrnd:hover{
    width: 357px;
    height: 255px;
   background-color:  hsl(180, 23%, 62%);
 }

 button:hover{
    cursor: pointer;
 }