*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    position: absolute;
    background-color: #0a0a3f;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bckgrnd{
    background-color: hsl(194, 23%, 62%);
    width: 400px;
    height: 270px;
    display: flex;
    margin: 45px 40px 45px 40px;
    padding: 15px 30px 15px 15px;
    border-radius: 7%;
}

.titulo{
    font-family: arial;
    font-size: 20pt;
    margin-bottom: 20px;
    font-weight: 550;
}

.description{
    font-family: arial;
    font-size: 11pt;
    margin-bottom: 45px;
    color: rgb(29, 26, 26);
    font-weight: 300;
}

img{
    width: 150px;
    height: 200;
    padding-left: 35px;
    padding-top: 50px;
}

button{
    background-color: #0a0a3f;
    font-family: arial;
    font-size: 12pt;
    font-weight: 600;
    color: lightgray;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 8%;
    margin-bottom: 10px;
}

.izq{
    width: 230px;
}
 .bckgrnd:hover{
    width: 410px;
    height: 278px;
   background-color:  hsl(180, 23%, 62%);
 }

 button:hover{
    cursor: pointer;
 }